.footer-dark {
	padding:30px 0;
	color:black;
	
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	

	margin: 10px 0 0 0   ;
	/* background-color:#ebf4fa; */
  }
  
  .footer-dark h3 {
	font-size: 18px;
	color: rgb(67, 63, 63);
	font-family:'Inter-Regular', 'Roboto-Regular';
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
	text-align: left;
	letter-spacing: 1.5px;




  }

  .footer-dark  p {

	font-size: 15px;
	font-family:'Inter-Regular', 'Roboto-Regular';
	font-weight: 300;
	color: #0a0a0a;
  }
  
  .footer-dark ul {
	padding:0;
	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-dark ul a {
	font-size: 15px;
	font-family:'Inter-Regular', 'Roboto-Regular';
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #0a0a0a;
	display: block;
	transition: all 0.3s ease;
	text-align: left;
  }
  
  .footer-dark ul a:hover {
	color:rgb(158, 154, 154);
	padding-left: 8px;
  }
  
  @media (max-width:767px) {
	.footer-dark .item:not(.social) {
	  text-align:center;
	  padding-bottom:20px;
	}
  }
  
  .footer-dark .item.text {
	margin-bottom:36px;
  }
  
  @media (max-width:767px) {
	.footer-dark .item.text {
	  margin-bottom:0;
	}
  }
  
  .footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
	text-align: justify;
  }
  
  .footer-dark .item.social {
	text-align:center;
  }
  
  @media (max-width:991px) {
	.footer-dark .item.social {
	  text-align:center;
	  margin-top:20px;
	}
  }
  
  .footer-dark .item.social > a {
	display: inline-block;
	height: 40px;
	width: 40px;
	
	background-color: rgb(67, 63, 63); 
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;

  }
  
  .footer-dark .item.social > a:hover {
	color: #24262b;
	background-color: #ffffff;
  }
  
  .footer-dark .copyright {
	text-align:center;
	padding-top:24px;
	opacity:0.3;
	font-size:13px;
	margin-bottom:0;
  }

  .footer-dark .item.btmimg > img {
	display: inline-block;
	height: 100%;
	width: 100%;
	margin: 10px 10px 10px 0;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
	transition: all 0.5s ease;
  }
  @media (max-width:767px) {
	.footer-dark .item.item.btmimg {
	  width: 100%;
	  height: 35%;

	}
  }
