.sample-div{
    display: flex;
    flex-direction: row;    
    justify-content: center;
    column-gap: 1%;
    padding: 1%;
}

.main-div{
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding-top: 5rem;
}
.link {
    color: rgb(0, 0, 0);
  }