.body-style {
  width: 80%;
  height: 30vh;


  

}

.total-items{
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 2rem;
  margin-top: 1.85rem;
}


.total-items2{
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--main-color);

  margin-top: 1.85rem;
}
.body-style2 {
  width: 100%;
  height: 1px;


}
/* ------my css------- */

.wish-i img {
    width: 18%;
    height: 18%;
}

.wish-i {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* justify-content: center; */
}


.wish-price{
    font-weight: 10;
    font-size: 1.0rem;
    font-family: "Inter-Regular" ;
    color:black;
    margin-right: 5px;

}

.information {
    font-weight: 10;
    font-size: 1.0rem;
    font-family: "Inter-Regular" ;
    color:black;
    margin: 10px 10px 10px 0;
    text-align: left;

}

.wish-trash{
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    color: black;
}
.wish-trash:hover{
    color:rgb(250,52,52);
   }

.wish-title {
    font-size: 1.1rem;
    text-align: left;
    font-family: "Inter-Regular" ;
    color:black;
    letter-spacing: 1px;    
  }   

.wish-card  {
height: 40%;  }   


@media (max-width: 768px) {
    .wish-price{
      font-size: 1.5rem;
      justify-content: flex-start;
      white-space: nowrap
    }

    .wish-title {
        font-size: 1.5rem;

}

.trashdiv{
align-items: flex-end;
justify-content: flex-end;
align-self: end;
margin-bottom: 5px;
margin-left: 5px;

}
.wish-card  {
    height: 50%;
align-items: center;
justify-content: center;  }   
    

}  

.wish-items {
    width: 100%;
    height:45rem;
    background: linear-gradient(
      103.49deg,
      #ffffff -28.13%,
      rgba(242, 247, 255, 0.5) 116.84%
    ); 
    box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
    border-radius: 2rem;
    margin: auto;
    margin: auto;
    display: grid;
    place-items: center;
  }
  
  .wish-items hr {
    margin: 2rem auto;
    overflow-y: scroll;
  }

  